doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        //h1= Render some markdown
        script(src="http://fb.me/react-0.12.2.js")
        script(src="http://fb.me/JSXTransformer-0.12.2.js")
        script(src="http://code.jquery.com/jquery-1.10.0.min.js")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js")
        script(src="http://code.highcharts.com/highcharts.js")

        //Latest compiled and minified CSS
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")

        //Optional theme
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")

        //Latest compiled and minified JavaScript
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")

        body
          block content
